{% extends "base.html" %}
{% load static %}

{% block title %}RecipeFinder - {{ recipe.name }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="back-link-wrapper">
    <a href="{% url 'recipes_list' %}" class="back-link">&#8592; Back to Recipes</a>
  </div>

  <div class="detail-section">
    <div class="detail-hero">
      <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" id="detailImage" class="detail-img" onerror="this.src='{% static 'images/placeholder.svg' %}'"/>
      <span class="course-tag" id="detailCourse">{{ recipe.category.name }}</span>
    </div>

    <div class="detail-info">
      <p class="section-label">RECIPE DETAIL</p>
      <h1 class="detail-title" id="detailName">{{ recipe.name }}</h1>
      <p class="detail-desc" id="detailDescription">{{ recipe.description }}</p>

      <div class="detail-ingredients">
        <h3 class="ingredients-heading">Ingredients</h3>
        <ul class="ingredients-list" id="ingredientsList">
          {% for ingredient in recipe.get_ingredients_list %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="detail-instructions">
        <h3 class="ingredients-heading">Instructions</h3>
        <ol class="instructions-list" id="instructionsList">
          {% for instruction in recipe.get_instructions_list %}
            <li>{{ instruction }}</li>
          {% endfor %}
        </ol>
      </div>

      <div class="detail-actions">
        {% if user.is_authenticated %}
          <button class="btn-gold" id="btnFavourite">&#9825; Add to Favourites</button>
        {% endif %}
        
        {% if user.is_staff %}
          <a href="#" class="btn-outline">Edit Recipe</a>
          <a href="#" class="btn-danger">Delete Recipe</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
