<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Finder Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main class="auth-container">
        <h1>Welcome to Recipe Finder</h1>
        <hr>

        <h2>Login</h2>

        <form method="POST">
                {% csrf_token %}
        
            <label for="username">Username or Email:</label><br>
<input type="text" id="username" name="username" required /><br><br>

<label for="password">Password:</label><br>
<input type="password" id="password" name="password" required /><br><br>

            <div id="formMessage"></div>

            <input type="submit" value="Login" />
        </form>

        <br>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    </main>
<!-- <script src="assets/js/data.js"></script>  -->

</body>
</html>