<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RecipeFinder - Recipe Detail</title>
  <link rel="stylesheet" href="../../assets/css/navbar.css" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <script src="../../assets/js/navbar.js" defer></script>
</head>
<body>
  <main-navbar
  data-authenticated="{{ request.user.is_authenticated|yesno:'true,false' }}"
  data-user="{{ request.user.email }}"
  data-role="{% if request.user.is_staff %}admin{% else %}user{% endif %}">
</main-navbar>

  <div class="back-link-wrapper">
    <a href="recipes.html" class="back-link">&#8592; Back to Recipes</a>
  </div>

  <div class="detail-section">
    <div class="detail-hero">
      <img src="" alt="" id="detailImage" class="detail-img"/>
      <span class="course-tag" id="detailCourse"></span>
    </div>

    <div class="detail-info">
      <p class="section-label">RECIPE DETAIL</p>
      <h1 class="detail-title" id="detailName"></h1>
      <p class="detail-desc" id="detailDescription"></p>

      <div class="detail-ingredients">
        <h3 class="ingredients-heading">Ingredients</h3>
        <ul class="ingredients-list" id="ingredientsList"></ul>
      </div>

      <div class="detail-instructions">
        <h3 class="ingredients-heading">Instructions</h3>
        <ol class="instructions-list" id="instructionsList"></ol>
      </div>

      <div class="detail-actions">
        <button class="btn-gold user-only" id="btnFavourite">&#9825; Add to Favourites</button>
        <a href="" class="btn-outline admin-only" id="btnEdit">Edit Recipe</a>
        <a href="" class="btn-danger admin-only" id="btnDelete">Delete Recipe</a>
      </div>
    </div>
  </div>

  <script>const IMAGE_BASE = '../../assets/images/';</script>
  <script src="../../assets/js/data.js"></script>
  <script src="../../assets/js/recipe_detail.js"></script>
</body>
</html>
