{% extends "recipes/base.html" %}
{% load static %}

{% block title %}Recipe Finder - Add Recipe{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_profile.css' %}">
{% endblock %}

{% block content %}
<div style="padding: 20px;">
    <h2>Add Your Own Recipe</h2>
    <p>Fill in the details below to share your recipe with the community</p>

    <form id="recipeForm">
 
      <fieldset>
        <legend>Basic Information</legend>

        <label for="recipeName">Recipe Name: *</label><br>
        <input type="text" id="recipeName" name="recipeName" placeholder="e.g. Spaghetti Bolognese" required /><br><br>

        <label for="description"> Description: *</label><br>

<textarea id="description" name="description"  placeholder=" Describe your recipe..." required></textarea>

        <table>
          <tr>
            <td width="180"><label class="table-label">cuisine type *</label></td>
             <td width="180"><label class="table-label"> meal type *</label></td>
           <td width="180"><label class="table-label">Difficulty *</label></td>
          
            </tr>
            <td>
              <select id="cuisine" name="cuisine" required>
                <option value="">-- Select Cuisine --</option>
                <option value="italian">Italian</option>
                <option value="chinese">Chinese</option>
                <option value="mexican">Mexican</option>
                <option value="indian">Indian</option>
                <option value="french">French</option>
                <option value="japanese">Japanese</option>
                <option value="mediterranean">Mediterranean</option>
              </select>
            <td>
              <select  id="type"  name="type" required>
                <option value="">-- Select type --</option>
                <option value="main course">Main Course</option>
                <option value="appetizer">Appetizer</option>
                <option value="dessert">Dessert</option>
              </select>
            </td>
            
            <td>
              <select  id="difficulty"  name="difficulty" required>
                <option value="">-- Select Difficulty --</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
              </select>
            </td>
          </tr>
        </table>

      </fieldset>

      <br>
 
      <fieldset>
        <legend>Time &amp; Servings</legend>

        <table>
          <tr>
            <td width="180"><label>Prep Time (mins)  *</label></td>
            <td width="180"><label>Cook Time (mins) *</label></td>
            <td width="180"><label>Number of Servings *</label></td>
          </tr>
          <tr>
            <td>
              <input type="number" name="prepTime" id="prepTime" placeholder="e.g. 15" min="1" required />
            </td>
            <td>
              <input type="number" name="cookTime" id="cookTime"placeholder="e.g. 30" min="1" required />
            </td>
            <td>
              <input type="number" name="servings" id="servings" placeholder="e.g. 4" min="1" required />
            </td>
          </tr>
        </table>

      </fieldset>

      <br>

     
      <fieldset>
         <legend>Ingredients</legend>
      <table id="ingredientsTable">
  <tr>
    <td width="180"><label class="table-label">Ingredient Name *</label></td>
    <td width="180"><label class="table-label">Quantity *</label></td>
    <td width="180"><label class="table-label">Unit *</label></td>
  </tr>
  <tr>
    <td><input type="text" name="ingredientName" placeholder="e.g. Flour" /></td>
    <td><input type="number" name="quantity" placeholder="e.g. 2" min="0" /></td>
    <td>
      <select name="unit">
        <option value="">-- Select Unit --</option>
        <option value="cups">Cups</option>
        <option value="grams">Grams</option>
        <option value="tbsp">Tbsp</option>
        <option value="tsp">Tsp</option>
        <option value="ml">ML</option>
        <option value="kg">KG</option>
        <option value="pieces">Pieces</option>
      </select>
    </td>
  </tr>
</table>
<br>
<button type="button" id="addIngredientBtn">+ Add Ingredient</button>

      </fieldset>

      <br>
 
      <fieldset>
        <legend>Instructions</legend>

        <label for="instructions">Step by Step Directions: *</label><br>
<textarea id="instructions" name="instructions" placeholder=" First do this then do that..." required></textarea>

      </fieldset>

      <br>

    
      <fieldset>
        <legend>Extra Details</legend>

        <label>Dietary Info:</label><br><br>
        <input type="checkbox" id="vegan" name="vegan" />
        <label for="vegan">Vegan</label> &nbsp;

        <input type="checkbox" id="vegetarian" name="vegetarian" />
        <label for="vegetarian">Vegetarian</label> &nbsp;

        <input type="checkbox" id="glutenFree" name="glutenFree" />
        <label for="glutenFree">Gluten Free</label> &nbsp;

        <input type="checkbox" id="nutFree" name="nutFree" />
        <label for="nutFree">Nut Free</label> &nbsp;

        <input type="checkbox" id="dairyFree" name="dairyFree" />
        <label for="dairyFree">Dairy Free</label>

        <br><br>

        <label for="recipeImage">Recipe Image:</label><br>
        <input type="file" id="recipeImage" name="recipeImage" accept="image/*" /><br>

      </fieldset>

      <br>

 
      <button type="submit"> SUBMIT RECIPE</button>
      &nbsp;
      <button type="reset"> CLEAR FORM</button>

    </form>
</div>
{% endblock %}

{% block extra_js_body %}
    <script src="{% static 'js/add-recipe.js' %}"></script>
{% endblock %}
