{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Finder{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/navbar.js' %}" defer></script>
    <script src="{% static 'js/footer.js' %}" defer></script>
    <script src="{% static 'js/data.js' %}"></script>
    {% block extra_js_head %}{% endblock %}
</head>
<body>
    <main-navbar></main-navbar>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <main-footer></main-footer>

    {% block extra_js_body %}{% endblock %}
</body>
</html>